<div align="center">{+new Link().toFile("index").withText("Class Index")+}</div>
<hr />
<h2>Classes</h2>
<ul class="classList">
  <%
  var url = request.getURI();
  url = url.substring(0, url.lastIndexOf("/"));

  core.core.file();

  var ignore = ["search.jxp", "DOC_DIR", "index.jxp", "assets"];
  var dir = openFile(url);
  if(dir.exists() && dir.isDirectory()) {
      var f = dir.listFiles();
      for(var i in f) {
          if(!ignore.contains(f[i].filename)) {
              %>
              <div>
                <h2><a href="<%= f[i].filename %>"><%= f[i].filename.substring(0, f[i].filename.lastIndexOf(".")) %></a></h2>
	      </div>
              <%
          }
      }
  }
  %>
</ul>
<hr />
